/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Black background */
    color: white;
  }
  p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: bold;
  }
  
  .page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start; /* Align popup to the left */
    align-items: center;
  }
  
  /* Popup Box */
  .popup {
    background-color: white; /* Dark gray for the popup */
    width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(233, 229, 229, 0.5);
    overflow: hidden;
    margin-left: 40px; /* Add spacing from the left edge */
  }
  
  /* Header */
  .popup-header {
    background-color: #d0056e; /* Slightly lighter header background */
    width: 300px;
    height: 100px;
    margin-left: 50px;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    border-bottom: 1px solid #444; /* Divider for the header */
  
  }
  
  .popup-header h2 {
    font-size: 2.0rem;
    margin: 0;
    color: black;
  }
  
  /* Content */
  .popup-content {
    padding: 20px;
    font-size: 1.5rem;
    color:black;
  }
  